{% extends "navbar.html" %}
{% block title %}Editar Puestos{% endblock %}
{% block content %}
<div class="container">
    <div class="hero-unit">
        <p>
        <h1>Edicion de Puestos: </h1>
        </p>

    </div>
    <div class="card-body p-15 shadow-lg my-5">
        
        <form action="" method="POST" class="user">

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationServer02">Puesto a Editar:</label>

                    <select class="form-control form-control" name="editado" id="validationServer02" required>
                        {% for puesto in puestos %}
                        {% if puesto[3] == True %}
                        <option value={{puesto[0]}}>{{puesto[1]}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="validationServer01"
                        placeholder="{% if empleados|length > 0 %}{{puestos[0][1]}}{% else %}Electricista{% endif %}" required>

                </div>
                <div class="col-md-2 mb-3">
                    <label for="validationServer04">Salario por Hora</label>
                    <input type="number" class="form-control" min="0" name="SalarioXHora" id="validationServer02" placeholder="{% if empleados|length > 0 %}{{puestos[0][2]}}{% else %}1250{% endif %}"
                        required>

                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Confirmar cambios
                    </label>
                    <div class="invalid-feedback">
                        Debe confirmar los cambios a realizar
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Editar</button>
        </form>
    </div>
</div>



{% endblock %}