{% extends "navbar.html" %}
{% block title %}Empleados{% endblock %}
{% block content %}
<div class="container">
    <div class="card border-2 shadow-lg my-5">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">ID Tipo Identificacion</th>
                    <th scope="col">Valor Doc Identificacion</th>
                    <th scope="col">ID Departamento</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Fecha Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><a href="#" class="link">1</a></th>
                    <td>Juanito Valderrana</td>
                    <td>3</td>
                    <td>123344555</td>
                    <td>7</td>
                    <td>Electricista</td>
                    <td>1998-05-10</td>
                </tr>
                <tr>
                    <th scope="row"><a href="#" class="link">2</a></th>
                    <td>Juanito Valderrana</td>
                    <td>3</td>
                    <td>123344555</td>
                    <td>7</td>
                    <td>Electricista</td>
                    <td>1998-05-10</td>
                </tr>
                <tr>
                    <th scope="row"><a href="#" class="link">3</a></th>
                    <td>Juanito Valderrana</td>
                    <td>3</td>
                    <td>123344555</td>
                    <td>7</td>
                    <td>Electricista</td>
                    <td>1998-05-10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}