{% extends "navbar.html" %}
{% block title %}Puestos{% endblock %}
{% block content %}
<div class="container">
    <div class="card border-2 shadow-lg my-5">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Salario por Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><a href="#" class="link">1</a></th>
                    <td>Electricista</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <th scope="row"><a href="#" class="link">2</a></th>
                    <td>Auxiliar de Laboratorio</td>
                    <td>1250</td>
                </tr>
                <tr>
                    <th scope="row"><a href="#" class="link">3</a></th>
                    <td>Operador de Maquina</td>
                    <td>1025</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}